@font-face {
    font-family: "SourceHanSerifSC-Regular";
    font-style: normal;
    font-weight: 400;
    src: url(https://web.hycdn.cn/exastris/official/assets/SourceHanSerifSC-Regular.e42077.ttf);
    src: url(https://web.hycdn.cn/exastris/official/assets/SourceHanSerifSC-Regular.249c0e.eot#iefix) format("embedded-opentype"), url(https://web.hycdn.cn/exastris/official/assets/SourceHanSerifSC-Regular.4abb1f.woff) format("woff"), url(https://web.hycdn.cn/exastris/official/assets/SourceHanSerifSC-Regular.e42077.ttf) format("truetype"), url(https://web.hycdn.cn/exastris/official/assets/SourceHanSerifSC-Regular.ced3ed.svg) format("svg")
}

body #loading .progress {
    margin-top: -36px
}

@media screen and (orientation:portrait) {
    body #loading .progress {
        margin-top: -5.4vw
    }
}

body #main {
    font-family: "SourceHanSerifSC-Regular", serif
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji;
    margin: 0
}

hr {
    color: inherit;
    height: 0
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    border-color: inherit;
    text-indent: 0
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
    box-shadow: none
}

legend {
    padding: 0
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

@font-face {
    font-family: SourceHanSans-Regular;
    font-style: normal;
    font-weight: 400;
    src: url(https://web.hycdn.cn/exastris/official/assets/SourceHanSans-Regular.7a29d9.ttf);
    src: url(https://web.hycdn.cn/exastris/official/assets/SourceHanSans-Regular.4cc5e0.eot#iefix) format("embedded-opentype"), url(https://web.hycdn.cn/exastris/official/assets/SourceHanSans-Regular.54a607.woff) format("woff"), url(https://web.hycdn.cn/exastris/official/assets/SourceHanSans-Regular.7a29d9.ttf) format("truetype"), url(https://web.hycdn.cn/exastris/official/assets/SourceHanSans-Regular.a41abe.svg) format("svg")
}

@font-face {
    font-family: Gilroy-Light;
    font-style: normal;
    font-weight: 400;
    src: url(https://web.hycdn.cn/exastris/official/assets/Gilroy-Light.0df20a.ttf);
    src: url(https://web.hycdn.cn/exastris/official/assets/Gilroy-Light.2357bc.eot#iefix) format("embedded-opentype"), url(https://web.hycdn.cn/exastris/official/assets/Gilroy-Light.93c13d.woff) format("woff"), url(https://web.hycdn.cn/exastris/official/assets/Gilroy-Light.0df20a.ttf) format("truetype"), url(https://web.hycdn.cn/exastris/official/assets/Gilroy-Light.9a444e.svg) format("svg")
}

.loaded #loading {
    opacity: 0;
    pointer-events: none;
    visibility: hidden
}

.loaded .pic-i18n {
    background-image: url(https://web.hycdn.cn/exastris/official/assets/i18n.75d094.png)
}

.loaded .texture-0 {
    background-image: url(https://web.hycdn.cn/exastris/official/assets/texture_0.70c5ba.png)
}

.loaded .pic-arrow {
    background-image: url(https://web.hycdn.cn/exastris/official/assets/arrow.bdcbbd.png)
}

@-webkit-keyframes infinite-rotate {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(-1turn)
    }
}

@keyframes infinite-rotate {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(-1turn)
    }
}

.ring .pic-ring {
    -webkit-animation: infinite-rotate 60s linear infinite;
    animation: infinite-rotate 60s linear infinite;
    background-image: url(https://web.hycdn.cn/exastris/official/assets/ring.0538ac.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%
}

html {
    background-color: #111
}

body,
html {
    overflow: hidden
}

#main,
body,
html {
    height: 100%;
    width: 100%
}

header {
    background-image: linear-gradient(0deg, transparent 10%, rgba(0, 0, 0, .8) 120%);
    color: #fff;
    font-family: SourceHanSans-Regular, sans-serif;
    left: 0;
    padding-right: .5em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

header .row {
    align-items: center;
    display: flex;
    justify-content: space-between
}

header .logo-0,
header .logo-1 {
    filter: drop-shadow(0 0 5px black);
    margin: 10px 20px;
    max-width: 44vw;
    width: 280px
}

@media screen and (orientation:portrait) {

    header .logo-0,
    header .logo-1 {
        width: 30em
    }
}

header .logo-0 img,
header .logo-1 img {
    -ms-interpolation-mode: nearest-neighbor;
    display: block;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    width: 100%
}

.language-select {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.language-select:hover .dropdown {
    display: block
}

.language-select .option {
    align-items: center;
    color: currentColor;
    display: flex;
    padding: .5em;
    text-decoration: none
}

.language-select .option:visited {
    color: currentColor
}

.language-select .select-arrow {
    border-color: currentcolor transparent transparent;
    border-style: solid;
    border-width: .4em .4em 0;
    display: inline-block;
    margin-left: .5em
}

.language-select .pic-i18n {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.4em;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 1.4em
}

.language-select .dropdown {
    background-color: rgba(51, 51, 51, .5);
    border-radius: .2em;
    display: none;
    left: 0;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 100%
}

.language-select .dropdown .option:hover {
    background-color: rgba(0, 0, 0, .5)
}

#loading {
    align-items: center;
    background-color: #426668;
    background-image: url(https://web.hycdn.cn/exastris/official/assets/bg_blur.a1a599.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: opacity 1s, visibility 1s;
    visibility: visible;
    width: 100%;
    z-index: 2
}

#loading .ring {
    height: 704px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -45%, 0);
    width: 704px;
    z-index: -1
}

@media screen and (orientation:portrait) {
    #loading .ring {
        height: 100vw;
        width: 100vw
    }
}

#loading .logo {
    height: auto;
    width: 420px
}

@media screen and (orientation:portrait) {
    #loading .logo {
        width: 60vw
    }
}

#loading .progress {
    background-image: url(https://web.hycdn.cn/exastris/official/assets/track.6e0426.png);
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 6px;
    width: 100%
}

@media screen and (orientation:portrait) {
    #loading .progress {
        height: 1.2vw
    }
}

#loading .progress .bar {
    background-color: #fff;
    box-shadow: 0 0 .5em hsla(0, 0%, 100%, .5);
    height: 100%;
    position: relative;
    width: 0
}

#loading .value {
    font-family: Gilroy-Light;
    font-size: 24px;
    height: 0;
    transform: translateY(90px)
}

@media screen and (orientation:portrait) {
    #loading .value {
        font-size: 16px;
        transform: translateY(3em)
    }
}

@media screen and (orientation:portrait) and (min-aspect-ratio:7/10) and (max-aspect-ratio:1/1) and (min-width:750px) {
    #loading .value {
        font-size: 24px
    }
}

#background {
    height: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
    z-index: -1
}

#background,
#background img {
    position: absolute;
    width: 100%
}

#background img {
    display: block;
    height: auto;
    left: 50%;
    transform: translateX(-50%)
}

@media screen and (orientation:portrait) {
    #background img {
        min-width: auto;
        width: 300%
    }
}

@media screen and (orientation:portrait) and (min-aspect-ratio:7/10) and (max-aspect-ratio:1/1) and (min-width:750px) {
    #background img {
        min-width: auto;
        width: 200%
    }
}

.fade-in-text .text {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform .6s linear
}

.fade-in-text.hidden .text {
    opacity: 0;
    transform: translateY(1rem)
}

.iOS-13 #main {
    perspective: none
}

.iOS-13 #main header {
    transform: none
}

.iOS-13 #main .pic-kv {
    transform: translateX(-50%)
}

#main {
    background-position: 50%;
    background-size: 100% auto;
    font-family: "SourceHanSerif-Regular", serif;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 20px;
    perspective-origin: top;
    position: relative;
    z-index: 1
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    #main {
        perspective: none
    }
}

#main header {
    transform: translateZ(-5px) scale(1.25);
    transform-origin: top
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    #main header {
        transform: none
    }
}

#main .pic-kv {
    height: auto;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateZ(-5px) scale(1.25);
    transform-origin: top;
    width: 100%;
    z-index: -1
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    #main .pic-kv {
        transform: translateX(-50%)
    }
}

@media screen and (orientation:portrait) {
    #main .pic-kv {
        min-width: auto;
        width: 300%
    }
}

@media screen and (orientation:portrait) and (min-aspect-ratio:7/10) and (max-aspect-ratio:1/1) and (min-width:750px) {
    #main .pic-kv {
        min-width: auto;
        width: 200%
    }
}

.section-holder {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    max-width: 1920px;
    min-height: 700px;
    position: relative;
    width: 90%
}

@media screen and (orientation:portrait) {
    .section-holder {
        min-height: 100vw
    }
}

.section-holder:before {
    content: "";
    flex: auto
}

.section-holder .title {
    display: none;
    height: auto;
    margin: auto
}

@media screen and (orientation:portrait) {
    .section-holder .title {
        display: block;
        margin-bottom: 2em;
        width: 100%
    }
}

.section-holder .scroll-tip {
    align-items: center;
    display: flex;
    flex: none;
    justify-content: center;
    margin-bottom: 15px
}

.section-holder .scroll-tip .texture-0 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    margin: 0 25px;
    width: 55px
}

@media screen and (orientation:portrait) {
    .section-holder .scroll-tip .texture-0 {
        height: 4vw;
        margin: 0 5vw;
        width: 11vw
    }
}

.section-holder .scroll-tip .pic-arrow {
    -webkit-animation: scroll-tip 1.6s cubic-bezier(.5, 0, 0, 1) infinite;
    animation: scroll-tip 1.6s cubic-bezier(.5, 0, 0, 1) infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    width: 35px
}

@media screen and (orientation:portrait) {
    .section-holder .scroll-tip .pic-arrow {
        height: 6.4vw;
        width: 7vw
    }
}

@media screen and (orientation:portrait) and (min-aspect-ratio:7/10) and (max-aspect-ratio:1/1) and (min-width:750px) {
    .section-holder .scroll-tip .pic-arrow {
        height: 32px;
        width: 35px
    }
}

@-webkit-keyframes scroll-tip {
    0% {
        opacity: 0;
        transform: translateY(-30%)
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translateY(20%)
    }
}

@keyframes scroll-tip {
    0% {
        opacity: 0;
        transform: translateY(-30%)
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translateY(20%)
    }
}

.section-PV {
    margin: -108px auto auto;
    max-width: 1920px;
    width: 90%
}

@media screen and (orientation:portrait) {
    .section-PV {
        margin-top: 2em
    }
}

.section-PV .container {
    border-radius: 50%;
    height: 545px;
    margin: auto;
    position: relative;
    width: 545px;
    z-index: 2
}

@media screen and (orientation:portrait) {
    .section-PV .container {
        height: 80vw;
        width: 80vw
    }
}

.section-PV .container .ring {
    height: 704px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 704px;
    z-index: -1
}

@media screen and (orientation:portrait) {
    .section-PV .container .ring {
        height: 100vw;
        width: 100vw
    }
}

.section-PV .container .pv-btn-bg {
    height: 100%
}

.section-PV .container .pv-play-trigger {
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0)
}

.section-PV .container .pv-play-trigger:hover .pv-cover {
    opacity: 1;
    visibility: visible
}

.section-PV .container .pv-play-trigger:hover .pv-btn {
    transform: translate3d(-50%, -50%, 0) scale(1.2)
}

.section-PV .container .pv-cover {
    border: 2px solid #fff;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    visibility: hidden;
    width: 340px
}

@media screen and (orientation:portrait) {
    .section-PV .container .pv-cover {
        opacity: 1;
        visibility: visible;
        width: 50vw
    }
}

.section-PV .container .pv-cover img {
    display: block;
    height: auto;
    width: 100%
}

.section-PV .container .pv-btn {
    filter: drop-shadow(0 0 1em rgba(0, 0, 0, .8));
    height: 90px;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: transform .3s;
    width: 90px
}

@media screen and (orientation:portrait) {
    .section-PV .container .pv-btn {
        height: 10vw;
        width: 10vw
    }
}

.section-title {
    margin: 125px auto auto;
    max-width: 1920px;
    width: 90%
}

@media screen and (orientation:portrait) {
    .section-title {
        display: none
    }
}

.section-title img {
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%
}

@media screen and (orientation:portrait) {
    .section-title img {
        width: 80vw
    }
}

.section-world {
    color: #fff;
    margin: auto;
    max-width: 1920px;
    width: 90%
}

.section-world .dec {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.section-world .content {
    box-sizing: content-box;
    color: #cfcfcf;
    font-size: 20px;
    line-height: 1.5;
    max-width: 600px
}

@media screen and (orientation:portrait) {
    .section-world .content {
        font-size: 4vw
    }
}

@media screen and (orientation:portrait) and (min-aspect-ratio:7/10) and (max-aspect-ratio:1/1) and (min-width:750px) {
    .section-world .content {
        font-size: 24px
    }
}

.section-world .preface {
    margin-top: 185px
}

@media screen and (orientation:portrait) {
    .section-world .preface {
        margin-top: 9vw
    }
}

.section-world .preface .content {
    margin-left: 50%;
    margin-right: auto;
    padding-left: 150px;
    position: relative
}

@media screen and (orientation:portrait) {
    .section-world .preface .content {
        margin: auto;
        max-width: 100%;
        padding-left: 0
    }
}

.section-world .preface .content .dec {
    display: block;
    left: -50px;
    pointer-events: none;
    position: absolute;
    top: -20px;
    z-index: -1
}

@media screen and (orientation:portrait) {
    .section-world .preface .content .dec {
        height: auto;
        left: 41vw;
        top: -25vw;
        width: 10vw
    }
}

.section-world .world-01 {
    box-shadow: 0 0 1em rgba(0, 0, 0, .8);
    display: inline-block;
    margin-top: 200px;
    width: 100%
}

@media screen and (orientation:portrait) {
    .section-world .world-01 {
        margin-top: 10vw
    }
}

.section-world .world-01 img {
    display: block;
    height: auto;
    width: 100%
}

.section-world .greetings {
    margin-top: 130px
}

@media screen and (orientation:portrait) {
    .section-world .greetings {
        margin-top: 10vw
    }
}

.section-world .greetings .content {
    margin-left: auto;
    margin-right: 50%;
    max-width: 640px;
    padding-right: 70px;
    position: relative
}

@media screen and (orientation:portrait) {
    .section-world .greetings .content {
        margin-left: 2vw;
        margin-right: auto;
        max-width: 100%;
        padding-right: 10vw
    }
}

.section-world .greetings .content .text>:first-child {
    font-size: 2em
}

.section-world .greetings .content .dec {
    display: block;
    left: -80px;
    pointer-events: none;
    position: absolute;
    top: -40px
}

@media screen and (orientation:portrait) {
    .section-world .greetings .content .dec {
        height: auto;
        left: -7vw;
        top: -2vw;
        width: 8vw
    }
}

.section-world .intro {
    margin-top: 60px
}

@media screen and (orientation:portrait) {
    .section-world .intro {
        margin-top: 2em
    }
}

.section-world .intro .content {
    margin-left: 50%;
    margin-right: auto;
    max-width: 700px;
    padding-left: 100px;
    position: relative;
    text-indent: 2em
}

@media screen and (orientation:portrait) {
    .section-world .intro .content {
        margin: auto;
        max-width: 100%;
        padding-left: 14vw
    }
}

.section-world .intro .content .dec {
    display: block;
    left: 260px;
    pointer-events: none;
    position: absolute;
    top: -240px
}

@media screen and (orientation:portrait) {
    .section-world .intro .content .dec {
        height: auto;
        left: -3vw;
        top: 10vw;
        width: 15vw
    }
}

.section-world .world-02 {
    box-shadow: 0 0 1em rgba(0, 0, 0, .8);
    display: inline-block;
    margin-top: 90px
}

@media screen and (orientation:portrait) {
    .section-world .world-02 {
        margin-top: 10vw
    }
}

.section-world .world-02 img {
    display: block;
    height: auto;
    max-width: 100%
}

.section-world .epilog {
    font-size: 40px;
    line-height: 1.6;
    margin-top: 110px;
    text-align: center;
    word-break: break-all
}

@media screen and (orientation:portrait) {
    .section-world .epilog {
        font-size: 4.7vw;
        margin-top: 10vw
    }
}

@media screen and (orientation:portrait) and (min-aspect-ratio:7/10) and (max-aspect-ratio:1/1) and (min-width:750px) {
    .section-world .epilog {
        font-size: 30px
    }
}

.section-world .epilog .nowrap {
    display: inline-block;
    white-space: pre-wrap
}

.section-world .epilog .dec {
    display: block;
    margin: 70px auto auto;
    pointer-events: none
}

@media screen and (orientation:portrait) {
    .section-world .epilog .dec {
        height: auto;
        margin-top: 6vw;
        width: 10vw
    }
}

.bottom-row {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: SourceHanSans-Regular;
    justify-content: space-between;
    margin: auto auto 2em;
    max-width: 1920px;
    width: 90%
}

@media screen and (orientation:portrait) {
    .bottom-row {
        align-items: flex-start;
        flex-direction: column-reverse;
        font-size: 12px
    }
}

@media screen and (orientation:portrait) and (min-aspect-ratio:7/10) and (max-aspect-ratio:1/1) and (min-width:750px) {
    .bottom-row {
        font-size: 14px
    }
}

.bottom-row .medias {
    align-items: center;
    display: flex
}

.bottom-row .medias .label {
    font-family: Gilroy-Light;
    margin-top: .6em
}

.bottom-row .medias .media {
    height: 3em;
    margin-right: 1em;
    position: relative
}

.bottom-row .medias .media img {
    height: 100%;
    width: auto
}

.bottom-row .extra-info {
    color: #ccc;
    line-height: 1.6;
    max-width: 45%
}

@media screen and (orientation:portrait) {
    .bottom-row .extra-info {
        margin-bottom: 2em;
        margin-top: 1em;
        max-width: 100%
    }
}

#video-layer {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2
}

#video-layer.visible {
    display: block
}

#video-layer #video-mask {
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%
}

#video-layer #video-player {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%
}

@media screen and (orientation:portrait) {
    #video-layer #video-player {
        width: 90%
    }
}

#video-layer video {
    background-color: rgba(0, 0, 0, .8);
    height: auto;
    width: 100%
}