html,body{
  background-color: white;
  font-size: 15px;
  overflow: hidden;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

div#main_field{
  font-size: 100px;
}

footer{
  position: absolute;
  bottom: 0px;
}