html {
  background-color: white;
  font-size: 15px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

div#main_field{
  font-size: 100px;
}

footer{
  position: absolute;
  bottom: 0px;
}