@font-face {
  font-family: 'dosis';
  src: url('dosis.extralight.ttf');
}

nav{
  --navli-padding-height: 3vh;
  --navli-textbox-height: 2rem;
  --navli-incolor: #00ff90;
  --navli-notcolor: #bf93f5;
  width: calc(5rem);
  height: 100vh;
  padding-left: 3vw;
  position: fixed;
  top: 0;
  user-select: none;
}
li a{
  text-decoration: none;
}
div#nav_ol_container{
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
nav ol li{
  height: var(--navli-textbox-height);
  font-size: 1rem;
  font-family: 'dosis';
  color: white;
  text-shadow: -2px -2px 15px white;
  display: flex;
  align-items: center;
  position: relative;
  padding: var(--navli-padding-height) 0 var(--navli-padding-height) 2rem;
  transition: padding 300ms,color 200ms;
  z-index: 2;
  cursor: pointer;
}
nav ol li:hover{
  padding-left: 2.7rem;
}
nav ol li.nav_active{
  color: var(--navli-incolor);
}

div#nav_nav{
  width: 5px;
  height: var(--navli-textbox-height);
  box-sizing: border-box;
  box-shadow: -2px -2px 10px 1px var(--navli-notcolor);
  border-radius: 10px;
  position: absolute;
  transition: all 0.2s;
  z-index: 1;
}
div#nav_nav.in_home{
  top: var(--navli-padding-height);
  background-color: var(--navli-incolor);
  box-shadow: -2px -2px 10px 1px var(--navli-incolor);
}
div#nav_nav.in_profile{
  top: calc(var(--navli-textbox-height) * 1 + var(--navli-padding-height)*3);
  background-color: var(--navli-incolor);
  box-shadow: -2px -2px 10px 1px var(--navli-incolor);
}
div#nav_nav.in_project{
  top: calc(var(--navli-textbox-height) * 2 + var(--navli-padding-height)*5);
  background-color: var(--navli-incolor);
  box-shadow: -2px -2px 10px 1px var(--navli-incolor);
}
div#nav_nav.in_dayLog{
  top: calc(var(--navli-textbox-height) * 3 + var(--navli-padding-height)*7);
  background-color: var(--navli-incolor);
  box-shadow: -2px -2px 10px 1px var(--navli-incolor);
}
div#nav_nav.in_contact{
  top: calc(var(--navli-textbox-height) * 4 + var(--navli-padding-height)*9);
  background-color: var(--navli-incolor);
  box-shadow: -2px -2px 10px 1px var(--navli-incolor);
}
li#home:hover ~ div#nav_nav:not(.in_home){
  top: var(--navli-padding-height);
  background-color: var(--navli-notcolor);
  box-shadow: -2px -2px 10px 1px var(--navli-notcolor);
}
li#profile:hover ~ div#nav_nav:not(.in_profile){
  top: calc(var(--navli-textbox-height) * 1 + var(--navli-padding-height)*3);
  background-color: var(--navli-notcolor);
  box-shadow: -2px -2px 10px 1px var(--navli-notcolor);
}
li#project:hover ~ div#nav_nav:not(.in_project){
  top: calc(var(--navli-textbox-height) * 2 + var(--navli-padding-height)*5);
  background-color: var(--navli-notcolor);
  box-shadow: -2px -2px 10px 1px var(--navli-notcolor);
}
li#dayLog:hover ~ div#nav_nav:not(.in_dayLog){
  top: calc(var(--navli-textbox-height) * 3 + var(--navli-padding-height)*7);
  background-color: var(--navli-notcolor);
  box-shadow: -2px -2px 10px 1px var(--navli-notcolor);
}
li#contact:hover ~ div#nav_nav:not(.in_contact){
  top: calc(var(--navli-textbox-height) * 4 + var(--navli-padding-height)*9);
  background-color: var(--navli-notcolor);
  box-shadow: -2px -2px 10px 1px var(--navli-notcolor);
}
div#navFooter{
  position: absolute;
}
