@import url(nav.css);
@import url(cursor.css);
@import url(secMain.css);
@import url(secProfile.css);
@import url(loading.css);

:root{
  --window-height: 100vh;
  --transition--duration: 600ms;
}

html,body{
  background-color: black;
  font-size: 20px;
  overflow: hidden;
}
body{
  margin: 0;
  /* cursor: none; */
}
ol{
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
::selection{
  background-color: #ffffff;
}
.notReady{
  display: none;
}


main{
  --bg-size : 400px;
  width: 100%;
  height: 500vh;
  position: relative;
  margin-left: 13vw;
  box-sizing: border-box;
  transition: top var(--transition--duration);
  /* background: 
    radial-gradient(circle at 45% 40%,#fff 0%,#fff 3px,transparent 3px),
    radial-gradient(circle at 35% 40%,#fff 0%,#fff 3px,transparent 3px),
    radial-gradient(circle at 40% 35%,#fff 0%,#fff 3px,transparent 3px),
    radial-gradient(circle at 40% 45%,#fff 0%,#fff 3px,transparent 3px),
    radial-gradient(circle at 45% 40%,#fff 0%,#fff 3px,transparent 3px),
    radial-gradient(circle at 35% 40%,#fff 0%,#fff 3px,transparent 3px),
    radial-gradient(circle at 40% 35%,#fff 0%,#fff 3px,transparent 3px),
    radial-gradient(circle at 40% 45%,#fff 0%,#fff 3px,transparent 3px);
  background-size: var(--bg-size) var(--bg-size);
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,calc(var(--bg-size)/2) calc(var(--bg-size)/2),calc(var(--bg-size)/2) calc(var(--bg-size)/2),calc(var(--bg-size)/2) calc(var(--bg-size)/2),calc(var(--bg-size)/2) calc(var(--bg-size)/2); */
}
main.in_home{
  top: 0vh;
}
main.in_profile{
  top: -100vh;
}
main.in_project{
  top: -200vh;
}
main.in_dayLog{
  top: -300vh;
}
main.in_contact{
  top: -400vh;
}

main section{
  width: 100%;
  height: 100vh;
  /*background: repeating-linear-gradient(-45deg,rgb(0, 0, 0) 0em, rgb(0, 0, 0) 4em, rgb(135, 135, 135) 4em, rgb(135, 135, 255) 4.1em);;*/
  color: #ffffff;
  position: relative;
}

footer{
  position: absolute;
  bottom: 0px;
  right: 0;
  color: #b7c7fa;
  font-family: 'dosis';
}