div#cursor_container{
  width: 0;
  height: 0;
  pointer-events: none;
}
div#cursor_circle{
  width: 3rem;
  height: 3rem;
  position: absolute;
  border-radius: 3rem;
  border: 3px solid white;
  transform: translate(-50%,-50%) scale(0);
  opacity: 1;
  transform-origin: center center;
  pointer-events: none;
}
div#cursor_circle.cursor_active{
  opacity: 0;
  transform: translate(-50%,-50%) scale(1);
  transition: transform 400ms,opacity 400ms;
}
div.cursorbar{
  width: 30px;
  height: 5px;
  background-color: #b7c7fa;
  border-radius: 5px;
  position: fixed;
  transform-origin: left;
  transform: rotate(30deg);
  pointer-events: none;
  will-change: left,top;
  isolation: isolate;
  opacity: 0;
}
div#cursorbar_0{
  background: linear-gradient(90deg, rgb(255,255,255) 0% ,rgb(255,255,255) 20%, rgb(223,202,250) 100%);
  will-change: left,top;
}
div#cursorbar_1{
  background: linear-gradient(90deg, rgba(223,202,250,0.7) 0%, rgba(191,147,245,0.7) 100%);
  will-change: left,top;
}
div#cursorbar_2{
  background: linear-gradient(90deg, rgba(191,147,245,0.7) 0%, rgba(160,94,240,0.7) 100%);
  will-change: left,top;
}